<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

<div id="acton-bar-buttons"></div>

<div id="helper-bar-buttons">
    <a class="btn btn-sm btn-secondary oc-icon-file" data-control="popup" data-handler="onRelationButtonCreate" data-size="huge"
       href="javascript:">
        Create Items</a>
</div>

<style>
    .list-group-item {
        background: #efefef;
        padding: 1vh;
        border-radius: 5px;
        margin-top: 5px;

    }

</style>

<div class="list-group" id="simpleList">
    test
    <?php foreach ( $this->getPageElements() as $value ) { ?>
    <div class="list-group-item nested-sortable"><?= $value->attributes['id'] ?></div>
    <?php } ?>

    <div class="list-group-item nested-sortable">
        <div class="list-group-item nested-sortable">11</div>
        <div class="list-group-item nested-sortable">11</div>
        <div class="list-group-item nested-sortable">11</div>

    </div>


</div>


<div class="process-modal control-popup modal fade" id="modalProcess">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <?=  form::ajax('newElement')  ?>

                <input name="template" type="text" value="0">

                <div class="form-buttons">
                    <div class="loading-indicator-container">
                        <button
                                class="btn btn-primary"
                                data-hotkey="ctrl+s, cmd+s"
                                data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                                type="submit">
                            <?= e(trans('backend::lang.form.create')) ?>
                        </button>
                    </div>
                </div>
                <?=  form::close() ?>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var nestedSortables = [].slice.call(document.querySelectorAll('.nested-sortable'));
    for (var i = 0; i < nestedSortables.length; i++) {
        new Sortable(nestedSortables[i], {
            group: 'nested',
            animation: 150,
            fallbackOnBody: true,
            swapThreshold: 0.65
        });
    }


</script>
