<div data-control="toolbar">
    <?php if ($this->user->hasAccess('nextlevels.cms.delete_pages')): ?>
        <a class="btn btn-primary oc-icon-plus"
        href="<?= Backend::url('nextlevels/nextlevelcms/pagescontroller/create') ?>"><?= e(trans('backend::lang.form.create')) ?></a>
    <?php endif; ?>
    
    <?php if ($this->user->hasAccess('nextlevels.cms.delete_pages')): ?>
        <button
                class="btn btn-info oc-icon-clone"
                data-request="onClone"
                data-request-confirm="<?= e(trans('nextlevels.nextlevelcms::lang.list.clone_selected_confirm')) ?>"
                data-request-success="$(this).prop('disabled', true)"
                data-stripe-load-indicator
                data-trigger=".control-list input[type=checkbox]"
                data-trigger-action="enable"
                data-trigger-condition="checked"
                disabled="disabled"
                onclick="$(this).data('request-data', {
                checked: $('.control-list').listWidget('getChecked')
            })">
            <?= e(trans('nextlevels.nextlevelcms::lang.list.clone_selected')) ?>
        </button>
    <?php endif; ?>

    <?php if ($this->user->hasAccess('nextlevels.cms.delete_pages')): ?>
        <button
                class="btn btn-default oc-icon-trash-o"
                data-request="onDelete"
                data-request-confirm="<?= e(trans('backend::lang.list.delete_selected_confirm')) ?>"
                data-request-success="$(this).prop('disabled', true)"
                data-stripe-load-indicator
                data-trigger=".control-list input[type=checkbox]"
                data-trigger-action="enable"
                data-trigger-condition="checked"
                disabled="disabled"
                onclick="$(this).data('request-data', {
                checked: $('.control-list').listWidget('getChecked')
            })">
            <?= e(trans('backend::lang.list.delete_selected')) ?>
        </button>
    <?php endif; ?>
</div>
