<link href="//unpkg.com/grapesjs/dist/css/grapes.min.css" rel="stylesheet">
<Style>
    .layout > .layout-cell.layout-container {
        padding: 0 !important;

    }

    .layout-relative {
        padding: 0 !important;
    }

    .layout {
        height: 100vh !important;
    }

    #layout-mainmenu {
        display: none;
    }

    #gjs {
        border: none;
    }

    /* Theming */

    /* Primary color for the background */
    .gjs-one-bg {
        background-color: white !important;
    }

    /* Secondary color for the text color */
    .gjs-two-color {
        color: var(--primary) !important;
    }

    /* Tertiary color for the background */
    .gjs-three-bg {
        background-color: var(--primary);
        color: white;
    }

    /* Quaternary color for the text color */
    .gjs-four-color,
    .gjs-four-color-h:hover {
        color: var(--primary);
    }

    .content-container.container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .gjs-block-label {
        font-size: 1rem;
    }

    .gjs-block-category:nth-child(2), .gjs-block-category:nth-child(3) {
        display: none;
    }

    .gjs-clm-tags, .gjs-sm-title {
        font-size: 1rem;
    }
</Style>
<script src="https://grapesjs.com/js/toastr.min.js"></script>
<!--<script src="/plugins/nextlevels/nextlevelcms/assets/js/grapejs.js"></script>-->
<script src="//unpkg.com/grapesjs"></script>
<script src="https://grapesjs.com/js/grapesjs-preset-webpage.min.js?v0.1.11"></script>
<script src="https://grapesjs.com/js/grapesjs-lory-slider.min.js?0.1.5"></script>
<script src="https://grapesjs.com/js/grapesjs-tabs.min.js?0.1.1"></script>
<script src="https://grapesjs.com/js/grapesjs-custom-code.min.js?0.1.2"></script>
<script src="https://grapesjs.com/js/grapesjs-touch.min.js?0.1.1"></script>
<script src="https://grapesjs.com/js/grapesjs-parser-postcss.min.js?0.1.1"></script>
<script src="https://grapesjs.com/js/grapesjs-tooltip.min.js?0.1.1"></script>
<script src="https://grapesjs.com/js/grapesjs-tui-image-editor.min.js?0.1.2"></script>
<script crossorigin="anonymous" src="https://kit.fontawesome.com/47721d60db.js"></script>

<div id="content">
</div>

<input
        autocomplete="off"
        class="form-control"
        name="id"
        type="hidden"
        value="<?= $model->id ?>"/>
<input
        autocomplete="off"
        class="form-control"
        id="contentEditor"
        name="content_editor"
        type="hidden"
        value=""/>

<button
        class="btn btn-primary"
        data-hotkey="ctrl+s, cmd+s"
        data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
        id="submitButton">
    <?= e(trans('backend::lang.form.save')) ?>
</button>
<script>

    var blocksObject = JSON.parse(String.raw`<?= $blocks ?>`);
    var blocks = Object.keys(blocksObject).map(key => ({key, value: blocksObject[key]}));
    var removeables = [];

    var lp = './img/';
    var plp = '//placehold.it/350x250/';
    var images = [
        lp + 'team1.jpg', lp + 'team2.jpg', lp + 'team3.jpg', plp + '78c5d6/fff/image1.jpg', plp + '459ba8/fff/image2.jpg', plp + '79c267/fff/image3.jpg',
        plp + 'c5d647/fff/image4.jpg', plp + 'f28c33/fff/image5.jpg', plp + 'e868a2/fff/image6.jpg', plp + 'cc4360/fff/image7.jpg',
        lp + 'work-desk.jpg', lp + 'phone-app.png', lp + 'bg-gr-v.png'
    ];

    var editor = grapesjs.init({
        avoidInlineStyle: 1,
        height: '100%',
        container: '#content',
        fromElement: 1,
        showOffsets: 1,
        storageManager: {
            type: 'remote',
            urlStore: '/backend/nextlevels/nextlevelcms/pagescontroller/store/<?= $model->id ?>',
            urlLoad: '/backend/nextlevels/nextlevelcms/pagescontroller/load/<?= $model->id ?>',
            params: {},
            autosave: false,
            autoload: false,
            headers: {"X-CSRF-TOKEN": "<?= csrf_token() ?>"},
        },
        assetManager: {
            embedAsBase64: 1,
            assets: images
        },
        styleManager: {clearProperties: 1},
        plugins: [
            'gjs-preset-webpage',
            'grapesjs-lory-slider',
            'grapesjs-tabs',
            'grapesjs-custom-code',
            'grapesjs-touch',
            'grapesjs-parser-postcss',
            'grapesjs-tooltip',
            'grapesjs-tui-image-editor',
        ],
        pluginsOpts: {
            'grapesjs-lory-slider': {
                sliderBlock: {
                    category: 'Extra'
                }
            },
            'grapesjs-tabs': {
                tabsBlock: {
                    category: 'Extra'
                }
            },
            'gjs-preset-webpage': {
                modalImportTitle: 'Import Template',
                modalImportLabel: '<div style="margin-bottom: 10px; font-size: 13px;">Paste here your HTML/CSS and click Import</div>',
                modalImportContent: function (editor) {
                    return editor.getHtml() + '<style>' + editor.getCss() + '</style>'
                },
                filestackOpts: null, //{ key: 'AYmqZc2e8RLGLE7TGkX3Hz' },
                aviaryOpts: false,
                blocksBasicOpts: {flexGrid: 1},
                customStyleManager: [{
                    name: 'General',
                    buildProps: ['float', 'display', 'position', 'top', 'right', 'left', 'bottom'],
                    properties: [{
                        name: 'Alignment',
                        property: 'float',
                        type: 'radio',
                        defaults: 'none',
                        list: [
                            {value: 'none', className: 'fa fa-times'},
                            {value: 'left', className: 'fa fa-align-left'},
                            {value: 'right', className: 'fa fa-align-right'}
                        ],
                    },
                        {property: 'position', type: 'select'}
                    ],
                }, {
                    name: 'Dimension',
                    open: false,
                    buildProps: ['width', 'flex-width', 'height', 'max-width', 'min-height', 'margin', 'padding'],
                    properties: [{
                        id: 'flex-width',
                        type: 'integer',
                        name: 'Width',
                        units: ['px', '%'],
                        property: 'flex-basis',
                        toRequire: 1,
                    }, {
                        property: 'margin',
                        properties: [
                            {name: 'Top', property: 'margin-top'},
                            {name: 'Right', property: 'margin-right'},
                            {name: 'Bottom', property: 'margin-bottom'},
                            {name: 'Left', property: 'margin-left'}
                        ],
                    }, {
                        property: 'padding',
                        properties: [
                            {name: 'Top', property: 'padding-top'},
                            {name: 'Right', property: 'padding-right'},
                            {name: 'Bottom', property: 'padding-bottom'},
                            {name: 'Left', property: 'padding-left'}
                        ],
                    }],
                }, {
                    name: 'Typography',
                    open: false,
                    buildProps: ['font-family', 'font-size', 'font-weight', 'letter-spacing', 'color', 'line-height', 'text-align', 'text-decoration', 'text-shadow'],
                    properties: [
                        {name: 'Font', property: 'font-family'},
                        {name: 'Weight', property: 'font-weight'},
                        {name: 'Font color', property: 'color'},
                        {
                            property: 'text-align',
                            type: 'radio',
                            defaults: 'left',
                            list: [
                                {value: 'left', name: 'Left', className: 'fa fa-align-left'},
                                {value: 'center', name: 'Center', className: 'fa fa-align-center'},
                                {value: 'right', name: 'Right', className: 'fa fa-align-right'},
                                {value: 'justify', name: 'Justify', className: 'fa fa-align-justify'}
                            ],
                        }, {
                            property: 'text-decoration',
                            type: 'radio',
                            defaults: 'none',
                            list: [
                                {value: 'none', name: 'None', className: 'fa fa-times'},
                                {value: 'underline', name: 'underline', className: 'fa fa-underline'},
                                {value: 'line-through', name: 'Line-through', className: 'fa fa-strikethrough'}
                            ],
                        }, {
                            property: 'text-shadow',
                            properties: [
                                {name: 'X position', property: 'text-shadow-h'},
                                {name: 'Y position', property: 'text-shadow-v'},
                                {name: 'Blur', property: 'text-shadow-blur'},
                                {name: 'Color', property: 'text-shadow-color'}
                            ],
                        }],
                }, {
                    name: 'Decorations',
                    open: false,
                    buildProps: ['opacity', 'background-color', 'border-radius', 'border', 'box-shadow', 'background'],
                    properties: [{
                        type: 'slider',
                        property: 'opacity',
                        defaults: 1,
                        step: 0.01,
                        max: 1,
                        min: 0,
                    }, {
                        property: 'border-radius',
                        properties: [
                            {name: 'Top', property: 'border-top-left-radius'},
                            {name: 'Right', property: 'border-top-right-radius'},
                            {name: 'Bottom', property: 'border-bottom-left-radius'},
                            {name: 'Left', property: 'border-bottom-right-radius'}
                        ],
                    }, {
                        property: 'box-shadow',
                        properties: [
                            {name: 'X position', property: 'box-shadow-h'},
                            {name: 'Y position', property: 'box-shadow-v'},
                            {name: 'Blur', property: 'box-shadow-blur'},
                            {name: 'Spread', property: 'box-shadow-spread'},
                            {name: 'Color', property: 'box-shadow-color'},
                            {name: 'Shadow type', property: 'box-shadow-type'}
                        ],
                    }, {
                        property: 'background',
                        properties: [
                            {name: 'Image', property: 'background-image'},
                            {name: 'Repeat', property: 'background-repeat'},
                            {name: 'Position', property: 'background-position'},
                            {name: 'Attachment', property: 'background-attachment'},
                            {name: 'Size', property: 'background-size'}
                        ],
                    },],
                }
                ],
            },
        },

    });
    var pn = editor.Panels;
    var modal = editor.Modal;
    var cmdm = editor.Commands;
    cmdm.add('canvas-clear', function () {
        if (confirm('Are you sure to clean the canvas?')) {
            var comps = editor.DomComponents.clear();
            setTimeout(function () {
                localStorage.clear()
            }, 0)
        }
    });
    cmdm.add('set-device-desktop', {
        run: function (ed) {
            ed.setDevice('Desktop')
        },
        stop: function () {
        },
    });
    cmdm.add('set-device-tablet', {
        run: function (ed) {
            ed.setDevice('Tablet')
        },
        stop: function () {
        },
    });
    cmdm.add('set-device-mobile', {
        run: function (ed) {
            ed.setDevice('Mobile portrait')
        },
        stop: function () {
        },
    });

    // Add info command
    var mdlClass = 'gjs-mdl-dialog-sm';
    var infoContainer = document.getElementById('info-panel');
    cmdm.add('open-info', function () {
        var mdlDialog = document.querySelector('.gjs-mdl-dialog');
        mdlDialog.className += ' ' + mdlClass;
        infoContainer.style.display = 'block';
        modal.setTitle('About this demo');
        modal.setContent(infoContainer);
        modal.open();
        modal.getModel().once('change:open', function () {
            mdlDialog.className = mdlDialog.className.replace(mdlClass, '');
        })
    });
    pn.addButton('options', {
        id: 'open-info',
        className: 'fa fa-question-circle',
        command: function () {
            editor.runCommand('open-info')
        },
        attributes: {
            'title': 'About',
            'data-tooltip-pos': 'bottom',
        },
    });

    // Simple warn notifier
    var origWarn = console.warn;
    toastr.options = {
        closeButton: true,
        preventDuplicates: true,
        showDuration: 250,
        hideDuration: 150
    };
    console.warn = function (msg) {
        if (msg.indexOf('[undefined]') == -1) {
            toastr.warning(msg);
        }
        origWarn(msg);
    };


    // Add and beautify tooltips
    [['sw-visibility', 'Show Borders'], ['preview', 'Preview'], ['fullscreen', 'Fullscreen'],
        ['undo', 'Undo'], ['redo', 'Redo']]
        .forEach(function (item) {
            pn.getButton('options', item[0]).set('attributes', {title: item[1], 'data-tooltip-pos': 'bottom'});
        });
    [['open-sm', 'Style Manager'], ['open-layers', 'Layers'], ['open-blocks', 'Blocks']]
        .forEach(function (item) {
            pn.getButton('views', item[0]).set('attributes', {title: item[1], 'data-tooltip-pos': 'bottom'});
        });
    var titles = document.querySelectorAll('*[title]');

    for (var i = 0; i < titles.length; i++) {
        var el = titles[i];
        var title = el.getAttribute('title');
        title = title ? title.trim() : '';
        if (!title)
            break;
        el.setAttribute('data-tooltip', title);
        el.setAttribute('title', '');
    }


    // Store and load events
    editor.on('storage:load', function (e) {
        console.log('Loaded ', e)
    });
    editor.on('storage:store', function (e) {
        console.log('Stored ', e)
    });

    var blockManager = editor.BlockManager;
    blocks.forEach(function (block) {
        blockManager.add(block['key'], {
            label: block['key'],
            content: block['value'],
        });
    });


    // Do stuff on load
    editor.on('load', function () {
        var $ = grapesjs.$;


        // Load and show settings and style manager
        var openTmBtn = pn.getButton('views', 'open-tm');
        openTmBtn && openTmBtn.set('active', 1);
        var openSm = pn.getButton('views', 'open-sm');
        openSm && openSm.set('active', 1);

        // Add Settings Sector
        var traitsSector = $('<div class="gjs-sm-sector no-select">' +
            '<div class="gjs-sm-title"><span class="icon-settings fa fa-cog"></span> Settings</div>' +
            '<div class="gjs-sm-properties" style="display: none;"></div></div>');
        var traitsProps = traitsSector.find('.gjs-sm-properties');
        traitsProps.append($('.gjs-trt-traits'));
        $('.gjs-sm-sectors').before(traitsSector);
        traitsSector.find('.gjs-sm-title').on('click', function () {
            var traitStyle = traitsProps.get(0).style;
            var hidden = traitStyle.display == 'none';
            if (hidden) {
                traitStyle.display = 'block';
            } else {
                traitStyle.display = 'none';
            }
        });

        // Open block manager
        var openBlocksBtn = editor.Panels.getButton('views', 'open-blocks');
        openBlocksBtn && openBlocksBtn.set('active', 1);


        editor.load();
    });

    editor.on('storage:end:load', function () {
        var first = false;
        if (editor.getComponents().length == 0)
            first = true;

        var blocksObject = JSON.parse('<?= $partials ?>');
        var partials = Object.keys(blocksObject).map(key => ({key, value: blocksObject[key]}));
        partials.forEach(function (item) {
            removeables = removeables.concat(editor.DomComponents.getWrapper().append(atob(item.value), {at: item.key}));
        });

        if (first)
            editor.getWrapper().append('<section class="features-section section-content-mob" style="min-height: 50vh;"> <div class="large-container"> <div class="row"></div></div></section>', {at: 3});


    });


    document.getElementById("submitButton").onclick = function () {
        //var allComponents = editor.DomComponents.store(true);

        editor.getComponents().forEach(function (item) {
            if (item !== undefined) {
                if (removeables.filter(e => e.ccid === item.getId()).length > 0) {
                    item.remove();
                }
            }
        });
        //    editor.render();
        editor.store();
        //window.location.reload();


        //console.log(editor.getComponents());
        // editor.DomComponents.clear();
        // editor.DomComponents.load(allComponents);
    };

</script>
