<?php if ($record->template == "HTML"): ?>

<a href="<?= Backend::url('nextlevels/nextlevelcms/elementcontroller') ?>/design/<?= $record->id ?>" target="_blank">
    <span class="nav-icon">
        <i class="icon-paint-brush"></i>
    </span>
</a>
<?php endif ?>

