.btn-reorder {
    background: #95b753;
    color: #fff;
}

.btn-reorder:hover {
    background: #89AB45;
}

.html5sortable tbody tr td {
    cursor: move;
}

.html5sortable tbody tr.disabled td {
    cursor: pointer;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    zoom: 0.7;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#cms-cache {
    display: inline-block !important;
}
