<div data-control="toolbar">
    <a class="btn btn-primary oc-icon-caret-left"
       href="<?= Backend::url('nextlevels/nextlevelcms/elementcontroller') ?>"><?= e(trans('backend::lang.form.return_to_list')) ?></a>
</div>
