<div data-control="toolbar">
    <a class="btn btn-primary oc-icon-plus"
       href="<?= Backend::url('nextlevels/nextlevelcms/menucontroller/create') ?>"><?= e(trans('backend::lang.form.create')) ?></a>
    <button
            class="btn btn-default oc-icon-trash-o"
            data-request="onDelete"
            data-request-confirm="<?= e(trans('backend::lang.list.delete_selected_confirm')) ?>"
            data-request-success="$(this).prop('disabled', true)"
            data-stripe-load-indicator
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-action="enable"
            data-trigger-condition="checked"
            disabled="disabled"
            onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })">
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>
</div>
