<div data-control="toolbar">
    <!-- Control Panel -->
    <div class="toolbar-item toolbar-primary">
        <div data-control="toolbar" data-disposable="">


            <a class="btn btn-sm btn-secondary oc-icon-file" data-control="popup" data-handler="onRelationButtonCreate" data-size="huge"
               href="javascript:">
                Erstelle Element</a>
            <a
                    class="btn btn-sm btn-secondary oc-icon-pencil"
                    href="<?= Backend::url('nextlevels/nextlevelcms/pagescontroller/update/'.$relationViewModel->getKey()) ?>"
                    target="_blank">
                Update Element</a>


            <button class="btn btn-sm btn-secondary oc-icon-trash-o" data-request="onRelationButtonDelete"
                    data-request-confirm="Sind Sie sicher?"
                    data-request-success="$.oc.relationBehavior.changed('page', 'deleted')"
                    data-stripe-load-indicator="">
                Löschen
            </button>


        </div>
    </div>
</div>
