<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('nextlevels/nextlevelcms/layoutcontroller') ?>">LayoutController</a></li>
    <li><?= e($this->pageTitle) ?></li>
</ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

<?= Form::open(['class' => 'layout']) ?>

<div class="layout-row">
    <?= $this->formRender() ?>
</div>

<div class="form-buttons">
    <div class="loading-indicator-container">
        <button
                class="btn btn-primary"
                data-hotkey="ctrl+s, cmd+s"
                data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                data-request="onSave"
                data-request-data="redirect:0"
                type="submit">
            <?= e(trans('backend::lang.form.save')) ?>
        </button>
        <button
                class="btn btn-default"
                data-hotkey="ctrl+enter, cmd+enter"
                data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                data-request="onSave"
                data-request-data="close:1"
                type="button">
            <?= e(trans('backend::lang.form.save_and_close')) ?>
        </button>
        <button
                class="oc-icon-trash-o btn-icon danger pull-right"
                data-load-indicator="<?= e(trans('backend::lang.form.deleting')) ?>"
                data-request="onDelete"
                data-request-confirm="<?= e(trans('backend::lang.form.confirm_delete')) ?>"
                type="button">
        </button>

        <span class="btn-text">
                    <?= e(trans('backend::lang.form.or')) ?> <a
                href="<?= Backend::url('nextlevels/nextlevelcms/layoutcontroller') ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
                </span>
    </div>
</div>
<?= Form::close() ?>

<?php else: ?>
<p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
<p><a class="btn btn-default"
      href="<?= Backend::url('nextlevels/nextlevelcms/layoutcontroller') ?>"><?= e(trans('backend::lang.form.return_to_list')) ?></a></p>
<?php endif ?>
