<label class="switch">
    <?php

if (!$value)
echo '<input class="bool-column-list" type="checkbox" data-action ="'.$this->action.'" data-id="'.$record->id.'"> ';

    else
    echo '<input checked class="bool-column-list" data-action="'.$this->action.'" data-id="'.$record->id.'"
                 type="checkbox"> ';
    ?>
    <span class="slider round"></span>
</label>
